<ion-content>

  <h1>Login</h1>

  @if (errorMessage) {
  <div>{{ errorMessage }}</div>
  }
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <input type="text" placeholder="Email" formControlName="email" />
    </div>
    <div>
      <input type="password" placeholder="Password" formControlName="password" />
    </div>
    <div>
      <ion-button type="submit" expand="block" shape="round">
        Sign In
      </ion-button>
      <ion-row>
        <ion-col size="12">
          <a routerLink="/forgot-password">Forgot password?</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <a routerLink="/signup">Don't have an account? Sign Up</a>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>